modules = ["nodejs-20", "web", "bun"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun --hot src/api/server.ts & bunx vite"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[deployment]
deploymentTarget = "static"
build = ["bun", "run", "build"]
publicDir = "dist/client"

[userenv]

[userenv.shared]
XNEELO_DB_HOST = "sql16.cpt3.host-h.net"
XNEELO_DB_NAME = "opiandigital"
XNEELO_DB_PORT = "3306"
XNEELO_DB_USER = "admin"
